.health {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 70px;
    top: 40px;
}

.health_logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale (0.7);
}

.health_vaccines {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.health_checkups{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.health_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}