.maintenance_quiz {
    display: flex;
 
    flex-direction: column;
    align-items: center;
    /* position: relative;
    left: 100%;
    transition: left 2s; */
}


#page {
    position: relative;
    left: 100%;
    transition: left 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance3_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance_question3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenancequiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}