.training_results {
    display: flex;
    flex-direction: column;
}

.training-results_maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_results_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training-results_health {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.training_results{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingresults_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}