.custom_button_box {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #FFF;
    font-family: Baloo;
    margin: 10px;
    /* font-size: 40px; */
}