@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

.custom_button_box {
    display: flex;
    /* width: 250px; */
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: #FFF;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    margin: 10px;
    /* font-size: 40px; */
    cursor: pointer;
} 