.training_quiz {
    display: flex;
    /* position: absolute;
    top: 30px;
    left: 10px; */
    flex-direction: column;
}

.training_logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale (0.7);
}

.training2_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.training_question1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingquiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}