h2 {
    font-family: "Baloo";
    color: #F3F2EF;
    text-align: center;
    font-size: 25pt;
}

#page {
    position: relative;
    left: 100%;
    transition: left 2s;
}

.tut_topics h2 {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

#maint {
    background-color: #B0D0D3;
}

#train {
    background-color: #EF9B89;
}

#health {
    background-color: #B7D4A0;
}

#tut2_tap {
    width: 200px;
    height: auto;
    margin-top: -150px;
    position: relative;
    left: 150px;
    /* top: 450px;  */
}