.tut_animations {
    display: flex;
}

.tut_animations img {
    width: 200px;
    height: 200px;
    margin: -10px;
}

.tut_start {
    position: absolute;
    bottom: -80px;

}

#tut5_p {
    margin-top: 80px;
}

#page {
    position: relative;
    left: 100%;
    transition: left 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}