/* .qpopup {
    position: fixed;
    top: 80px;
    left: 10px;
    transform: scale(0.8); */
/* } */

#exit {
    position: absolute;
    left: 25px;
    top: 225px;
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    z-index: 500;
}

.qpopup {
    opacity: 0;
    transition: opacity 0.5s;
}