.quizpopup_contain {
    display: inline-flex;
    padding: 40px;
    background-color: #F3F2EF;
    border: 15px solid #B0D0D3;
    border-radius: 5px;
}

.quizpopup_contain h1 {
    font-family: "Baloo";
    color: #B0D0D3;
    font-size: 50pt;
    margin-top: -20px;
}

.quizpopup_contain p {
    font-family: "GmarketSansLight";
    font-size: 20pt;
    text-align: center;
    margin-top: -50px;
    line-height: 1.5;
}

.quizpopup_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}