@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Manrope:wght@300&display=swap');


.quizpopup_contain {
    display: inline-flex;
    padding: 20px;
    background-color: #F3F2EF;
    border: 15px solid #B0D0D3;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    top: -450px;
    /* top: 42%;
    left: 50%;
    transform: translate(-50%, -45%); */
    z-index: 200;
}

.quizpopup_contain h1 {
    font-family: "Baloo";
    color: #B0D0D3;
    font-size: 30pt;
    margin-top: -20px;
}

.quizpopup_contain p {
    font-family: 'Manrope', sans-serif;
    font-size: 16pt;
    text-align: center;
    margin-top: -50px;
    line-height: 1.5;
}

#quizpopupp {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    line-height: 1.5;
}

.quizpopup_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

#title {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
}