.maintenance_results {
    display: flex;
    flex-direction: column;
}

.maintenance-results_training {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance_results_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance-results_health {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.maintenanceresults_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}