.training {
    display: flex;
    flex-direction: column;
    /* position: absolute;
    left: 60px;
    top: 40px; */
    position: relative;
    left: 100%;
    transition: left 2s;
}
/* 
.training_logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale (0.7);
} */

.training_commands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_socializing{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}