/* .foodinfoPanel {
    position: absolute;
    top: 0px;
    left: 45px;
    transform: scale(0.8);
}

/* .foodinfo {
    display: flex;
    margin-left: 500px;
} */

/* .food-info_logo {
    transform: scale(0.7);
} */

/* .food-info_page {
    position: relative;
    top: 40px;
} */

.transparencyScreen {
    background-color: rgba(97, 97, 97, 0.5);
    width: 100%;
    height: 812px;
    position: fixed;
    top: 0;
}