.dog-size {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .life-stage_logo {
    position: fixed;
    left: 0;
    top: 0;
} */

.dog-size_small {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.dog-size_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}