.maintenance_quiz {
    display: flex;
 
    flex-direction: column;
}

.maintenance3_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance_question3{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenancequiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}