/* .health_quiz {
    position: relative;
    left: 100%;
    transition: left 2s;
} */

#page {
    position: relative;
    left: 100%;
    transition: left 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}