.socializinginfoPanel {
    position: fixed;
    top: 60px;
    left: 45px;
    transform: scale(0.8);
}

#mainappinfoscreen {
    background-color: #F3F2Ef;
    width: 480px;
    height: 800px;
}

.transparencyScreen {
    background-color: rgba(97, 97, 97, 0.5);
    width: 480px;
    height: 800px;
}