.training_quiz {
    display: flex;
    /* position: absolute;
    top: 30px;
    left: 10px; */
    flex-direction: column;
    align-items: center;
    /* position: relative;
    left: 0%;
    transition: left 2s; */
}

#page {
    position: relative;
    left: 100%;
    transition: left 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.training1_answer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training1_answer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training1_answer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.training_question1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingquiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .training_quiz{
position: absolute;
left: 70px;
top: 40px;
} */