.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F3F2EF; */
    min-height: 853px;
    opacity: 0;
    transition: opacity 3s;
}

.dog_image {
    width: 300px;
    height: auto;
    object-fit: contain;
    /* padding: 10px; */
    border: 10px solid #B7D4A0;
    border-radius: 5px;
}

p {
    font-family: "GmarketSansLight";
    line-height: 1.25;
}

.aboutpage_description {
    max-width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    /* padding: 10px;
    border: 1px solid #B7D4A0;
    border-radius: 5px; */
}

.aboutpage_backhome {
    margin-top: 20px;
}

/* .about_menu {
    position:
} */