/* .commandinfoPanel {
    transform: scale(0.8);
    position: absolute;
    top: 0px;
    left: 45px;
} */



.transparencyScreen {
    background-color: rgba(97, 97, 97, 0.5);
    width: 100%;
    height: 812px;
    position: fixed;
    top: 0;
}


