.commandinfoPanel {
    transform: scale(0.8);
    position: absolute;
    top: 80px;
    left: 10px;
}

.commandinfo {
    display: flex;
    /* margin-left: 500px; */
}

/* .food-info_logo {
    transform: scale(0.7);
} */

.command-info_page {
    position: relative;
    top: 10px;
}

.transparencyScreen {
    background-color: rgba(97, 97, 97, 0.5);
    width: 480px;
    height: 800px;
}