#navigation {
    position: relative;
    /* left: -110%; */
    top: 0px;
    transition: left 1s;
}

.nav_contain {
    width: 240px;
    height: 853px;
    background-color: #EF9B89;
}

.nav_box {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.nav_box img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: absolute;
    left: 200px;
    top: 20px;
}

.nav_menu {
    margin-top: 40px;
}

.nav_menu p {
    font-family: "GmarketSansLight";
    font-size: 18pt;
    color: #F3F2EF;
    /* padding-left: 15px;
    padding-bottom: 25px; */
    padding: 25px;
    cursor: pointer;
    margin: 0;
}

.nav_text {
    border-bottom: 1px solid #F3F2EF;
}

.nav_menu p:active {
    background-color: rgb(204, 133, 117);
}