@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Manrope:wght@300&display=swap');

.infopanel_contain {
    background-color: #F3F2EF;
    border: 15px solid ;
    border-radius: 5px;
    padding: 10px;
    width: 280px;
    height: auto;
    /* position: fixed;
    top: 150px;
    left: -35px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 10;
}

.infopanel_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 20px;
}

#infopanelh1 {
    font-family: 'Baloo 2', cursive;
    font-weight: 800; 
    color: #B0D0D3;
    font-size: 40pt;
    line-height: 30pt;
}

.infopanel_box h1 {
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    color: #B0D0D3;
    font-size: 40pt;
    margin: -10px;
}

#infopanelp {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.3;   
    text-align: left;
}

.infopanel_box p {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.3;
    padding: 5px;
    text-align: left;
}

.info_close {
    width: 22px;
}

#gif {
    width: 200px;
    position: absolute;
    top: -170px;
}