@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Manrope:wght@300&display=swap');

.home_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 65px;
    /* opacity: 0;
    transition: opacity 1s; */
}

.tut_button {
    font-family: 'Baloo 2', cursive;
    font-size: 14pt;
    color: #EF9B89;
    border: 2px solid #EF9B89;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
}

.tut_button:active {
    background-color: #EF9B89;
    color: #F3F2EF;
}

.home_about {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    bottom: 20px;
    /* width: 35vw; */
    /* padding-bottom: 20px; */
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
}

#home_about_text {
    margin-left: 5px;

}

p {
    font-family: 'Manrope';
}

#home_logo {
    opacity: 0;
    transition: opacity 1s;
}

#home_start {
    opacity: 0;
    transition: opacity 1s;
}