.socializinginfoPanel {
    position: fixed;
    top: 45px;
    left: 55px;
    transform: scale(0.8);
}


/* 
.socializing-info_page {
    position: fixed;
    top: 20px;
    left: 50px;
} */

#mainappinfoscreen {
    background-color: #F3F2Ef;
    max-width: 480px;
    min-height: 800px;
}

.transparencyScreen {
    background-color: rgba(97, 97, 97, 0.5);
    max-width: 480px;
    min-height: 800px;
}