.menu_contain img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    position: absolute;
}

.menu_contain {
    position: absolute;
    top: 10px;
    /* opacity: 1; */
}

body, html {
    margin: 0;
}

.app_menu {
    position: absolute;
    left: 0;
}

.menu_nav {
    position: absolute;
    /* left: -200px; */
}