.training {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 120px;
    top: 40px;
}

.training_logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale (0.7);
}

.training_commands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_socializing{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_main {
    position: fixed;
    left: -410px;
    top: 10px;
}
/* 
.defaultscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 800px;
    background-color: #F3F2Ef;
} */