/* .screen_icons {
    text-align: center;
    padding-top: 10px;
} */

.resources {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 3s;
}

.resources_title {
    text-align: center;
}

a {
    font-family: "Manrope";
    font-weight: bold;
    color: #EF9B89;
    border: 2px solid #EF9B89;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

a:active {
   background-color: #EF9B89;
   color: #F3F2EF;
}

.resources_content_second a {
    color: #B0D0D3;
    border: 2px solid #B0D0D3;
}

.resources_content_second a:active {
    background-color: #B0D0D3;
    color: #F3F2EF;
}

.resources_content_third a {
    color: #B7D4A0;
    border: 2px solid #B7D4A0;
}

.resources_content_third a:active {
    background-color: #B7D4A0;
    color: #F3F2EF;
}

.resources_box {
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.resources_content{
    text-align: center;
}

.resources_content p {
    font-size: 12pt;
}