@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Manrope:wght@300&display=swap');

.logo_home_contain {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_home_contain img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.logo_text {
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 45pt;
    color: #EF9B89;
    margin-bottom: -10px;
    margin-top: -10px;
}

.logo_text span {
    color: #B0D0D3;
}