.Life_Stage {
    display: flex;
 
    flex-direction: column;
}

/* .life-stage_logo {
    position: fixed;
    left: 0;
    top: 0;
} */

.life-stage_puppy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life-stage_adult {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life-stage_senior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life-stage_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}