.maintenance_quiz {
    display: flex;
    /* position: absolute;
    top: 40px;
    left: 30px; */
    flex-direction: column;
    align-items: center;
    /* position: relative;
    left: 100%;
    transition: left 2s; */
}

#page {
    position: relative;
    left: 100%;
    transition: left 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance_logo {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale (0.7);
}

.maintenance2_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenance_question2{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintenancequiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}