.training_quiz {
    display: flex;
 
    flex-direction: column;
}

.training2_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.training_question1{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainingquiz_pagetitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}