@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Manrope:wght@300&display=swap');

.backtoprev {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    margin-bottom: 0;
}

.backicon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}
