.backtoprev {
    font-family: 'GmarketSansLight';
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 10px;
}

.backicon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}